<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (!username) { %>
    <!-- Login form -->
    <div class="form-inline">
      <form action="/login" method="POST">
        <input class="form-control" type="text" placeholder="Username" name="username">
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
    <% } else { %>
    <!-- Logout form -->
    <div class="form-inline">
      <form action="/logout" method="POST">
        <span class="navbar-text">
          <%= username %>
        </span>
        <button class="btn btn-primary" type="submit">Logout</button>
      </form>
    </div>
    <% } %>
  </nav>
</header>
