<div class="form-inline">
  <form style="margin-left: 10px; margin-right: 10px" action="/register">
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
  <form style="margin-left: 10px; margin-right: 10px" action="/login">
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>