<!DOCTYPE html>
<html>
  <head>
    <title>Tinyapp - Url Shoterner Service</title>
  </head>
  <body>
    <h1>Tinyapp</h1>
    <h3>Here's a list of URLS</h3>

    <% for(let i in urls) { %>
      <%= i %>: <%= urls[i] %>
      <br>
    <% } %>

  </body>
</html>